{{ define "main" }}
<div class="container">
  <div class="card">
    <div class="card-header">{{ .Title }}</div>
    <div class="card-body">
      <div class="card-text">{{ .Content }}</div>
      <div class="d-flex justify-content-between">
        {{with .PrevInSection}} {{ $url := .Permalink }} {{ $url = replace $url "#" "%23" }}
        <a class="text-reset" href="{{ $url }}">{{ .Title }}</a>
        {{end}} {{with .NextInSection}} {{ $url := .Permalink }} {{ $url = replace $url "#" "%23" }}
        <a class="text-reset" href="{{ $url }}">{{ .Title }}</a>
        {{end}}
      </div>
    </div>
  </div>
</div>
{{ end }}
