<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/github.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" />
      {{ .Site.Params.title }}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{ $currentLink := .Permalink }} {{ with .Site.GetPage "/" }} {{ range .Pages }} {{ if .IsPage }}
        <li class="nav-item">
          <a
            class="nav-link {{ if eq .Permalink $currentLink }} fw-bold {{ end }}"
            aria-current="page"
            href="{{ .Permalink }}"
            >{{ .Title }}</a
          >
        </li>
        {{ end }} {{ end }} {{ end }} {{ if .Site.IsMultiLingual }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <img alt="Logo" width="30" height="24" src="/assets/language.svg" />
          </a>
          <ul class="dropdown-menu">
            {{ range .Translations }}
            <li>
              <a
                class="dropdown-item"
                title="{{ .Language.LanguageName }}"
                href="{{ .Permalink }}"
                aria-label="{{ .Language.LanguageName }}"
                >{{ .Language.LanguageName }}</a
              >
            </li>
            {{ end }}
          </ul>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
